<div class="categorias-section">
    <div class="container">
        <ul>
            <li><button class="btn-categoria" id="refeicoes">Refeições</button></li>
            <li><button class="btn-categoria" id="porcoes">porções</button></li>
            <li><button class="btn-categoria" id="lanches">lanches</button></li>
            <li><button class="btn-categoria" id="espetos">espetos</button></li>
            <li><button class="btn-categoria" id="bebidas">bebidas</button></li>
            <li><button class="btn-categoria" id="sobremesas">sobremesas</button></li>
            <li><button class="btn-categoria" id="promocoes">promoções</button></li>
        </ul>
    </div>
</div>