<!---->

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="logo"> <img src="/resources/uploads/logo_delicias_mineira.png" alt="logo da Delicias Mineira">
        </div>
        <div class="texto_delicias">
            <p>Delícias</p>
        </div>
        <div class="texto_mineira">
            <p>Mineira</p>
        </div>
        <div class="descricao">
            <p>RESTAURANTE & LANCHONETE</p>
        </div>
    </div>
    <div class="info-strip">
        <span><span class="status-dot"></span>{{status_abertura}}</span>

    </div>

</header>