<div class="container-main-produtos">

    <h1>- - - - -{{categoria}}- - - - -</h1>
    <div class="itens">
        <ul class="list-itens">
            <li>
                <button>
                    <div class="box-img">
                        <img src="/resources/uploads/pao_de_queijo.jpg" alt="">
                    </div>
                    <div class="box-flex-info">
                        <div class="box-info">
                            <div class="name-product">
                                <h4>Pão de queijo</h4>
                            </div>
                            <div class="price">
                                <h4>R$ 10,90</h4>
                            </div>
                        </div>
                        <div class="description">
                            <p>Pão feito com massa de queijo minas e polvilho</p>
                        </div>
                    </div>
                </button>
            </li>
            <li>
                <button>
                    <div class="box-img">
                        <img src="/resources/uploads/refeicao.jpg" alt="">
                    </div>
                    <div class="box-flex-info">
                        <div class="box-info">
                            <div class="name-product">
                                <h4>Marmita M</h4>
                            </div>
                            <div class="price">
                                <h4>R$ 20,90</h4>
                            </div>
                        </div>
                        <div class="description">
                            <p>Marmita média com salada</p>
                        </div>
                    </div>
                </button>
            </li>
            <li>
                <button>
                    <div class="box-img">
                        <img src="/resources/uploads/refeicao.jpg" alt="">
                    </div>
                    <div class="box-flex-info">
                        <div class="box-info">
                            <div class="name-product">
                                <h4>Marmita G</h4>
                            </div>
                            <div class="price">
                                <h4>R$ 30,90</h4>
                            </div>
                        </div>
                        <div class="description">
                            <p>Marmita grande com salada</p>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>