<nav class="navbar">
    <div class="container">
        <div class="inicio">
            <button>
                <img src="" alt="Logo">
                <p>Início</p>
            </button>
        </div>
        <div class="atividades">
            <button>
                <img src="" alt="">
                <p>Atividades</p>
            </button>
        </div>
        <div class="Conta">
            <button>
                <img src="" alt="">
                <p>Conta</p>
            </button>
        </div>
    </nav>